<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<header id="global-header" layout:fragment="header">
		<div class="container">
			<div id="row">
				<h2>ここからヘッダーです</h2>
				<div class="col-sm-9 col-md-9">
					<a href="/">ロゴ</a>
					<a href="/" title="ホーム">ホーム</a>
					<a href="/company/" title="会社概要">会社概要</a>
					<a href="/service/" title="サービス">サービス</a>
					<a href="/recruit/" title="採用情報">採用情報</a>
					<a href="/contact/" title="Contact us">お問い合わせ</a>
					<a href="/communitylist/index" title="コミュニティ">コミュニティ</a>
				</div>
			</div>
		</div>
	</header>
</body>
</html>