<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout}">
<head>
    <title>お問い合わせ完了</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
<div class="container">
	<h2 align = "center">お問い合わせ</h2>

    <h4 align = "center">送信完了</h4>
    <div class = "alert alert-secondary" align = "center">
    	お問い合わせありがとうございました。<br>
    	お寄せいただいたご相談内容、お客様の個人情報につきましては厳重にお取り扱いいたします。<br>
    	<br>
    	ご回答は原則としてEメールにて行わさせていただきます。<br>
    	<br>
    	お問い合わせ内容によりましては、お電話やお手紙でお返事する場合もございます。<br>
    	また、ご回答までにお時間を必要とする場合がありますことを予めご容赦くださいますようお願い申し上げます。<br>
    </div>
    <br>
    <div align = "center">
	    <a href="/" class="btn btn-outline-primary">トップに戻る</a>
    </div>

</div>
</div>
</body>
</html>